@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}


/* Starts Here */ 

.box {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--blue)
}

.calc {
  width: 30rem;
  height: 35rem;
  margin: 0 auto;
  background-color: var(--grey);
  padding: 1.5rem;
  border-radius: 3px;
  position: relative;
}

.result {
  width: 65%;
  height: 5rem;
  border: 2px solid var(--color-sec);
  padding: 0.5rem 0.8rem;
  background-color: white;
  overflow: hidden;
  font-size: 1.6rem;
}
.clear {
  width: 20%;
  height: 5rem;
  line-height: 4rem;
  outline: none;
  background-color: #FF0000;
  border-radius: 3px;
  color: white;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 1.7rem;
  right: 4rem;
  cursor: pointer;
}
.header{
  margin-bottom: 2rem;
}

.calc ul {
  list-style-type: none;
}

.keys {
 display: flex;
 flex-wrap: wrap;
}
.keys li {
  width: 5rem;
  background-color: white;
  margin: 1rem 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid var(--color-primary);
  color: black ;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.keys .equals {
  background-color: #FF0000 ;
  color: white;
}

.keys li:hover {
  background-color: var(--color-primary);
  color: white;
}
