@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

*{  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  width: 400px;
  height: 200px;
  margin: 10% auto;
  padding: 0 20px;
  border: 1px solid black;
  background-color: var(--light-blue);
  color: white;
  text-align: center;
}


.container span{
  font-size: 3rem;
}

#generate{
  padding: 1rem;
  margin-top: 2rem;
  font-size: 2rem;
  background-color: yellow;
  outline: none;
}